body{
    background-color: black;
    font-family: monospace;
    margin: 0;
}

a{
    text-decoration: none;
    color: gold;
}

.aqui{
    font-weight: 900;
}

.header{
    border-bottom: 3px solid rgb(88, 177, 147);

}

.container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between  ;

}

.header ul .aqui{
    font-weight: 800;
}

ul{
    color:gold ;
}

.titulo{
    color: rgb(88, 177, 147);
    border: none;
    width: fit-content;
}

.navBar{
    list-style: none;
    border: none;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 0;
    align-items: center;
}

.banner{
    background-image: url("imgs/bg-jelly-fish-para_outras_pags.png");
    height: 700px;
    display: flex;
}

.banner .container{
    justify-content: center;
    font-size: 35px;
    color: whitesmoke;
}

.banner .container p span{
    font-weight: 1000;
}

.banner .container p{
    width: 30%;
}

.banner .container .card{
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
    align-items: center;
    border-radius: 4%;
    justify-content: center;
}
.banner .container .card .container{
    color: black;
    flex-direction: column;
}



.banner .container .card h1{
    font-size: 30px;
}

.banner .container .card h4{
    font-size: 16px;
}

.card input{
    border: solid 3px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}

.card button{
    background-color: rgb(88, 177, 147);
    margin-top: 50px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    font: 700 20px monospace;
    border: none;
    cursor: pointer;
}

.social{
    background-color: white;
    display: flex;
}

.social .container .boxes{
    display: flex;
}

.social .container .boxes .caixa{
    justify-content: center;
    align-items: center;
    margin: 25px;
    flex-direction: column;
    display: flex;
}

.social .container .boxes .caixa img{
    height: 125px;
}

.footer{
    color: white;
    background-color: rgb(88, 177, 147);
    height: 100px;
    display: flex;
}

.footer .container{
    justify-content: center;
    align-items: center;
}

.card a {
    font-size: 13px;
    color: blue;
    text-decoration: underline;
}
